<html>
<head>
  <title>Band & Venue Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1>Welcome to the Band and Venue tracker.</h1>
  <div class="container">
    <%= yield %>
  </div>
  <a href="/">Home</a>
  </br>
  <a href="/bands">Bands</a>
  </br>
  <a href="/venues">Venues</a>
</body>
</html>
